.wrapLogin {
  width: 100%;
  text-align: center;
}
.loginHeader {
  margin-top: 72px;
}
.titleWrap {
  margin-top: 27px;
}
.titleWrap h4 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
}
.titleWrap h5 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
.inputWrap {
  margin-top: 56.4px;
}
.userNameInput input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1.5px solid black;
  background-color: #fff;
  width: 90%;
  margin-bottom: 45px;
  padding-left: 15px;
}
.passwordInput {
  display: grid;
  position: relative;
}
.passwordInput input {
  margin: 0 auto;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #5e9c60;
  background-color: #fff;
  width: 90%;
  padding-left: 15px;
}
.passwordInput label {
  width: 90%;
  margin: 0 auto;
}
.passwordInput label {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e9c60;
  margin-bottom: 4px;
  padding-left: 15px;
}
.eyeIcon {
  position: absolute;
  right: 30px;
  top: 19px;
}
.forgotPass {
  margin-top: 47px;
  text-align: left;
  width: 90%;
  padding-left: 15px;
  margin: 0 auto;
  margin-top: 47px;
}
.forgotPass a h5 {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #5e9c60;
}
.button button{
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 15px 160px;
  background: #5e9c60;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
}
.register {
  margin-top: 14px;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
.register span h6 {
  margin: 20px;
}
.register a {
  text-decoration: none;
  color: #5e9c60;
}
